@model IEnumerable<GerenciadorNegocios.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>@ViewBag.Title</h2>

<input type="button"
       value="Criar Novo"
       class=" btn btn-success"
       onclick="location.href='@Url.Action("Create", "Clientes")'" />
<hr />

<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPFCNPJ)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr >
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPFCNPJ)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
