@model IEnumerable<GerenciadorNegocios.Models.Negocio>

@{
    ViewBag.Title = "Negócios";
}

<h2>@ViewBag.Title</h2>

<input type="button"
       value="Criar Novo"
       class=" btn btn-success"
       onclick="location.href='@Url.Action("Create", "Negocios")'" />
<hr />
<table class="table">
    <tr class="success">
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Produto.Descricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Etapas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Produto.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Etapas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
